/* Footer Styles */
footer {
    background-color: #264455;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footer-column {
    flex: 1;
    margin: 10px;
    min-width: 200px;
    text-align: left;
}

.footer-column h4 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #fff;
}

.footer-column p,
.footer-column ul,
.footer-column li {
    margin: 0;
    padding: 0;
    list-style: none;
    color: #ccc;
}

.footer-column ul {
    padding-top: 10px;
}

.footer-column li a {
    color: #ccc;
    text-decoration: none;
}

.footer-column li a:hover {
    color: #fff;
}

.footer-bottom {
    background-color: #1b2b38;
    padding: 10px 0;
    margin-top: 20px;
}

.footer-bottom p {
    margin: 0;
    color: #ccc;
}