/* Main Content Styles */
.main-content {
    padding: 20px;
}

/* Blog Grid Styles */
.blog-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.2rem;
}

.blog-item {
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blog-item h3 {
    margin: 0 0 10px;
    font-size: 18px;
    color: #264455;
}

.blog-item p {
    margin: 0;
    color: #000000;
}
.blog-item:hover {  
    background-color: lightgray;
    transition: 0.5s;
}
.blog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.blog-txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 1rem;
}

.news-box {
    display: grid;
    grid-template-columns: repeat(1, 0.5fr);
    gap: 20px;
}

.news-box-block {
    background-color: #f8f9fa;
    padding: 1.5rem;
    overflow: hidden;
 }

 .news-box-item {
    padding: 0.7rem; 
 }