.content {
    max-width: 1200px;
    min-height: 400px; /* Später rauslassen => Platzhalter */
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
}
.content-right {
    flex: 1;
    margin: 10px;
    min-width: 200px;
    text-align: left;
}