@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap");

:root {
  --Playfair: "Playfair Display", serif;
  --Quicksand: "Quicksand", sans-serif;
  --Roboto: "Roboto", sans-serif;
  --dark: #3c393d;
  --exDark: #2b2b2b;
}
* {
  padding: 0;
  margin: 0;
  font-family: var(--Quicksand);
}
body {
  line-height: 1.4;
  color: var(--dark);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.blog-page-container {
  box-shadow: 5px 5px 38px #808080, -5px -5px 38px #ffffff;
  border-radius: 30px;
  border: white solid 1px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  height: 60vh;
  max-width: 90vw;
  overflow: hidden;
}

.blog-page-text-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: scroll;
  gap: 20px;
  width: 100%;
  height: 100%;
  padding-top: 40px;
  padding-right: 20px;
  padding-left: 20px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow-x: hidden;
}

.blog-page-heading {
  display: flex;
  justify-content: center;
  color: rgba(0, 0, 0, 0.6);

  font-size: clamp(2rem, 1vw + 1rem, 4rem);
}

.blog-page-short-description {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;

  width: 100%;
  font-weight: bold;
  font-size: clamp(1rem, 1vw + 1rem, 2rem);
}

.blog-page-short-description span {
  grid-column: 1 / span 2;
}

.blog-page-short-description .blog-like-button {
  grid-column: 3;
}

.blog-page-short-description span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog-like-button {
  display: flex;
  justify-content: flex-end;
}

.blog-page-long-description {
  border-top: solid 5px rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 20px;
  width: 100%;
  overflow-wrap: break-word;
  font-size: clamp(0.5rem, 1vw + 1rem, 1.5rem);

  height: 100%;
  overflow-y: scroll;

  scrollbar-color: #b6b6b6 #fff;
  scrollbar-width: thin;
}

.blog-page-long-description p {
  padding: 20px;
}

.blog-page-image {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  height: 60vh;
  width: 100%;

  overflow: hidden;
  display: flex;
  justify-content: center;
}

.blog-like-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1200px) {
  main {
    display: flex;
    justify-content: center;
  }

  .blog-page-container {
    height: 120vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  .blog-page-image {
    border-radius: 20px;
  }

  .blog-page-short-description {
    display: flex;
    flex-direction: column;
    gap: 0px;
    justify-content: center;
    align-items: center;
  }

  .blog-page-long-description {
    padding: 30px;
  }

  .blog-page-image {
    height: 100%;
  }
}

@media (min-height: 1300px) {
  .blog-page-short-description {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }
}
