.content {
    max-width: 1200px;
    min-height: 400px; /* Später rauslassen => Platzhalter */
    margin: 0 auto;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
}
/*Top Story Grid Styles*/

.blog-topcontent-grid {
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 10px;
    display: grid;
    height:500px;
    grid-template-columns: 2fr 1fr;
}

.blog-topcontent-topStory {
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blog-topcontent-topNews {
    background-color: #ffffff;
    
    padding-top: 20px;  
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;  
    overflow: hidden;
    
}
.blog-topcontent-topNews h1 {
    padding-bottom: 20px;
}

.topnews-item {
    object-fit: cover;
    overflow: hidden;
    border: 1px solid black;
    height:100%;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(/Main/images/immoONE.jpg);
    background-size: cover;
    background-position: center;
    transition: background-color 0.5s ease;

}

.topnews-item:hover {  
    
    transition: all 0.3s;
    background-size: 120%;
    filter: brightness(110%);
    
}


.blog-topcontent-topStory:hover {  
    background-color: lightgray;
    transition: 0.5s;
}





/* Blog Grid Styles */
.blog-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.2rem;
}



.blog-item {
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blog-item h3 {
    margin: 0 0 10px;
    font-size: 18px;
    color: #264455;
}

.blog-item p {
    margin: 0;
    color: #000000;
}
.blog-item:hover {  
    background-color: lightgray;
    transition: 0.5s;
}
.blog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.blog-txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 1rem;
}