/*Viet Teil*/

.search-filter-box {
  padding-top: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/*First-search-container*/

.first-search-container {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin: 10px;
  padding: 20px;
  gap: 1rem;
  background: #ffffff;
  box-shadow: 6px 6px 12px #646464, -6px -6px 12px #ffffff;
}

#hsn-container-item {
  grid-column: span 2;
}
#hsn-container-item .search-selection-item {
  width: 80%;
}

#tsn-container-item {
  grid-column: span 2;
}

#tsn-container-item .search-selection-item {
  width: 80%;
}

#first-search-reset-button {
  grid-column: 3;
  grid-row: 2;
}

#first-filter-button {
  grid-column: 4;
  grid-row: 2;
}

/*Second-search-container*/
.search-container {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  margin: 10px;
  padding: 20px;
  gap: 1rem;
  background: #ffffff;
  box-shadow: 6px 6px 12px #646464, -6px -6px 12px #ffffff;
}
.search-container-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.search-container-item label {
  font-weight: 600;
  font-size: 20px;
}

.search-selection-item {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}
.search-box {
  display: flex;
  justify-content: center;
  right: 1px;
  position: absolute;
  pointer-events: none;
  border: solid rgb(191, 192, 192) 1px;
  height: 3rem;
  width: 3rem;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.search-box svg {
  height: 3rem;
  width: 1rem;
}

.search-selection {
  cursor: pointer;
  padding: 10px;
  position: relative;
  border-radius: 10px;
  width: 100%;
  height: 3rem;
  outline: none;
  font-weight: 400;
  line-height: 20px;
  font-size: 18px;
  appearance: none;
  background: rgb(237, 238, 240);
  border: rgb(181, 185, 191);
  color: rgb(30, 31, 36);
}

.search-selection-item:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  border: 10px;
}

.search-box:hover {
  background-color: #f9f9f9;
}

.reset-button {
  gap: 20px;
  grid-row: 3;
  grid-column: 3;
  display: flex;
  justify-content: left;
  align-items: center;
}

.reset-button i {
  cursor: pointer;
  border: none;
}

.reset-button a {
  cursor: pointer;
  border: none;
}

.reset-button i:hover {
  filter: brightness(200%);
}

.reset-button a:hover {
  filter: brightness(200%);
}

.search-button-one {
  grid-column: 4;
  grid-row: 3;
  display: flex;
  justify-content: center;
  align-items: stretch;
  padding: 10px;
}

.search-button-one button {
  width: 100%;
  font-size: 1.5rem;
  border-radius: 10px;
  background-color: #cacaca;
}

.search-button-one:hover {
  filter: brightness(105%);
}

#leistungsbereich-selection {
  gap: 20px;
}

.search-selection-span {
  font-size: 1.5rem;
}

#search-container-leistungsbereich {
  grid-column: span 2;
}

/* Media Queries */
@media screen and (max-width: 540px) {
  .search-container {
    width: 60%;
    display: flex;
    flex-direction: column;
  }

  .first-search-container {
    width: 60%;
    display: flex;
    flex-direction: column;
  }

  .reset-button a {
    font-size: 20px;
  }

  .reset-button i {
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {
  .search-container {
    width: 60%;
    display: flex;
    flex-direction: column;
  }

  .first-search-container {
    width: 60%;
    display: flex;
    flex-direction: column;
  }

  .reset-button a {
    font-size: 20px;
  }

  .reset-button i {
    font-size: 20px;
  }
}

@media screen and (max-width: 992px) {
  .search-container {
    width: 60%;
    display: flex;
    flex-direction: column;
  }
  .first-search-container {
    width: 60%;
    display: flex;
    flex-direction: column;
  }

  .reset-button a {
    font-size: 20px;
  }

  .reset-button i {
    font-size: 20px;
  }
}
